body {
  background-color: rgb(182, 179, 179)
}

.App {
  text-align: center;
}

.trasanction-box{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border: 2px solid black;
    margin-top: 10px;
    margin-left: 25%;
    width: 50%;
  }

.deposit {
    color: green;
    border-right: 2px solid black;
}

.withdraw {
  color: red;
  border-right: 2px solid black;
}